In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('val_data.xlsx')

In [4]:
df.head()

,Turbidity,pH,Conductivity,Chloride,Nitrate,Bicarb Alk,Carb. Alk,Total Alk,Total Hardness,Total Iron,Silica,Sulphate,Free CO2,Calcium,TDS,Magnesium
0,2.3,6.6,86.3,13,0.017,18,NIL,18,38,0.01,0.12,5,26,34,43.15,4
1,2.1,6.6,84.6,17,0.015,14,NIL,14,38,0.01,0.10,4,14,32,42.30,6
2,2.2,6.6,81.2,89,0.020,18,NIL,18,42,0.02,0.12,5,14,34,40.60,8
3,1.7,6.6,111.7,28,0.022,18,NIL,18,66,0.01,0.10,6,24,62,55.85,4
4,1.8,6.6,114.6,24,0.021,22,NIL,22,88,0.01,0.11,5,28,86,57.30,2

In [21]:
df.drop(['Chloride','Nitrate','Bicarb Alk','Carb. Alk','Total Alk','Total Iron','Silica','Sulphate','Free CO2','Calcium','TDS','Magnesium'],axis=1,inplace=True)

In [23]:
df['TC']=0

In [24]:
df

    Turbidity     pH  Conductivity  Total Hardness  TC
0         2.30  6.60         86.30              38   0
1         2.10  6.60         84.60              38   0
2         2.20  6.60         81.20              42   0
3         1.70  6.60        111.70              66   0
4         1.80  6.60        114.60              88   0
5         1.60  6.50        111.70              66   0
6         1.90  6.50         80.02              40   0
7         1.80  6.50         83.10              62   0
8         1.90  6.50        108.40              32   0
9         4.80  6.70         84.10              29   0
10        3.40  6.80        106.40              30   0
11        2.10  6.60         87.60              68   0
12        4.46  6.88         87.30              76   0
13        4.58  6.65         92.40              70   0
14        5.01  6.60         94.70              84   0
15        3.70  6.60         77.20              72   0
16        3.80  6.70         74.00              68   0
17        3.20  6.80         72.10              62   0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Turbidity       18 non-null     float64
 1   pH              18 non-null     float64
 2   Conductivity    18 non-null     float64
 3   Total Hardness  18 non-null     int64
 4   TC              18 non-null     int64
dtypes: float64(3), int64(2)
memory usage: 848.0 bytes

In [27]:
df.to_csv('Val_data.csv')

In [29]:
df=pd.read_csv('val_data.csv')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      18 non-null     int64
 1   Turbidity       18 non-null     float64
 2   pH              18 non-null     float64
 3   Conductivity    18 non-null     float64
 4   Total Hardness  18 non-null     int64
 5   TC              18 non-null     int64
dtypes: float64(3), int64(3)
memory usage: 992.0 bytes

In [45]:
df = df.rename(columns={'Turbidity ': 'TBD','pH':'PH','Total Hardness':'Hardness'})

In [53]:
df2=pd.read_csv('final_data.csv')

In [56]:
df2=df2.drop('portability',axis=1)

In [57]:
df2.head()

   Unnamed: 0        ph    Hardness  Conductivity  Turbidity      TC
0           0  3.716080  129.422921    592.885359   4.500656  8391.0
1           1  8.099124  224.236259    418.606213   3.055934  5330.0
2           2  8.316766  214.373394    363.266516   4.628771  8443.0
3           3  9.092223  181.101509    398.410813   4.075075  5500.0
4           4  5.584087  188.313324    280.467916   2.559708  4049.0

In [ ]:
df['Portability'] = (df[' ph'].between(6.5, 8.5) &
                     df['Turbidity'].between(0, 5) &
                     df['Hardness'].between(0, 150) &
                     df['Conductivity'].between(0, 1000) &
                     (df['TC'] == 0)).astype(int)

In [49]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [50]:
df

     TBD    PH  Conductivity  Hardness  TC  Portability
0   2.30  6.60         86.30        38   0            1
1   2.10  6.60         84.60        38   0            1
2   2.20  6.60         81.20        42   0            1
3   1.70  6.60        111.70        66   0            1
4   1.80  6.60        114.60        88   0            1
5   1.60  6.50        111.70        66   0            1
6   1.90  6.50         80.02        40   0            1
7   1.80  6.50         83.10        62   0            1
8   1.90  6.50        108.40        32   0            1
9   4.80  6.70         84.10        29   0            1
10  3.40  6.80        106.40        30   0            1
11  2.10  6.60         87.60        68   0            1
12  4.46  6.88         87.30        76   0            1
13  4.58  6.65         92.40        70   0            1
14  5.01  6.60         94.70        84   0            0
15  3.70  6.60         77.20        72   0            1
16  3.80  6.70         74.00        68   0            1
17  3.20  6.80         72.10        62   0            1

In [51]:
df.to_csv('actual_data.csv')